#
# Eclipse metadata.
#
.project
.classpath
.settings/

#
# Pivot source and build folders.
#
# Keep pivot source in the repo.
#src/
#
bin/
log/
logs/
target/

#
# Maven release metadata.
#
release.properties
pom.xml.releaseBackup
